@model IEnumerable<NomadCars.Models.Car>

@{
    ViewBag.Title = "Index";
}
<header class="jumbotron">
    <h1>Nomad Cars Staff Portal</h1>
    <h2>Listing of All Cars for Sale</h2>
</header>

<p>
    @Html.ActionLink("Add Car", "Create", null, new {@class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover">
    <tr class="bg-info">
        <th>
            Car
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransmissionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivered)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.CarSpec.Model @item.CarSpec.BodyType
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransmissionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarID }, new { @class = "btn btn-success " })
            @Html.ActionLink("Details", "Details", new { id=item.CarID }, new { @class = "btn btn-info " })
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID }, new { @class = "btn btn-danger " })
        </td>
    </tr>
}

</table>
