@model NomadCars.Models.Person

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("input:text.date").datepicker({ dateFormat: "dd/MM/yyyy" });
    });
</script>

<header class="jumbotron">
    <h1>Nomad Cars</h1>
    <h2>Edit @Model.FullName Personal Details</h2>
</header>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <h4>Person Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonID)

        @Html.Partial("_PersonForm");

        <p>
           <input type="date" value="01/04/2018" class="form-control ui-datepicker" />
        </p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel Changes", "Details", new { id = Model.PersonID}, new { @class="btn btn-default"})
                <input type="submit" value="Save Changes" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
