@model NomadCars.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<header class="jumbotron">
    <h1>Nomad Cars</h1>
    <h2>Register for a new Customer Account</h2>
    <p>
        To reserve or purchase a car from Nomad Cars you will need a Customer Account so
        Register here as a new customer.
    </p>
</header>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Register New Customer</h3>
    </div>
    <div class="panel-body lead text-success">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <p>
                Use a suitable email address for communication with Nomad Cars, and a password
                of at least 6 characters that contains an Upper and Lower case letter and
                a digit.
            </p>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn btn-success" value="Register" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
